html, body{padding:0px;
	margin:0px;
	font-family: Verdana, Helevetica, sans-serif;
	color: white;
	background-color:rgb(12, 143, 254);}

h1{ text-align:center;
    background-image:url(../img/logo.png);
    width: 800px;
    height: 200px;
}

h1 span {
	display:block;	
    height:0;	
    overflow:hidden;
}

/*Logo*/
#logo{
	float: left;
}

/*Login*/
#contenitore-login{
	float: right;
	width: 40%;
}

#login{

}

#button_admin{

}

#breadcrumbs{
	background-color:rgb(184,252,151);
	padding-left: 3em;
	clear: both;
}

#ricerca{
	width:15em;
	height:2em;
}

#conferma{
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: bold 12px Arial, Helvetica, sans-serif;
 color: #fff;
 padding: 10px 20px;
 border: solid 1px #0076a3;
 background: #0095cd;

 background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
 background: -webkit-linear-gradient(top,  #00adee,  #0078a5);
 background: -moz-linear-gradient(top,  #00adee,  #0078a5);
 background: -ms-linear-gradient(top,  #00adee,  #0078a5);
 background: -o-linear-gradient(top,  #00adee,  #0078a5);

/*
width:8em;
height:2em;
font-size:0.9em;
font-weight:bold;
background-color:lime;
*/
}

.ricerca{
	position:relative;
	left:25%;
}


/*Menu*/
#contenitore-menu {
width: 524px;
margin: 0 auto;
}

.vnav{
	background-color: rgb(255,204,255);
	font-weight: bold;
}

.menu{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(204,255,255);
}

li {
	float: left;
}

li a {    
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




li a:hover {
	color: white;
    background-color: #111;
}

#content{
background-color:rgb(184,252,151); 
margin:0 auto; 
padding: 1em; 
width:70%; 
color: black;}

.informazioni{display:block;}

.center {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#immagine{background-image:url("../img/prato.jpg");
background-repeat:no-repeat;
background-position:center;
width:100%;
height:27em;}


.footer{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 25px 20px;
	margin-top: 20px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}


.footer .footer-left{
	width: 40%;
}


.footer h3{
    text-align:center;
    background-image: url(../img/logo_mini.png);
    margin: 0;
    
    width: 200px;
    height: 50px;
}

.footer h3 span {	
    display:block;	
    height:0;	
    overflow:hidden;
}

.footer .footer-nome-azienda{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-mail{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}


.footer .footer-right{
	width: 20%;
}

.footer .footer-nome-azienda{
	line-height: 20px;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-info span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}



@media screen and (max-width:768px){

    .ricerca{position:static;}

	#menu{height:2100px;}
	#chisiamo{margin-left:0em;}
	#real{margin-left:0em;}
	#vend{margin-left:0em;}
	#nol{margin-left:0em;}
	#serv{margin-left:0em;}
	#cont{margin-left:0em;}
	#formricerca{position:static; float:none;}
	#formadmin{position:static; float:none;}
	#log{width:15em; height:2em;}
	#barra{height:5.3em;}
	
	
	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}
}
