
html, body{padding:0px;
    margin:0px;
    font-family: Verdana, Helevetica, sans-serif;
    color: white;
    background-color:#c9fdc9;}


#headheader{
    padding: 0;
    margin: 30px auto; /*per Firefox, Opera, Safari, etc...*/
    
}

/*Elementi nascosti di lettura per lo screenR e non visibili*/
.nascosto{
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}


/*Logo*/
h1{
    margin: 0;
    padding: 0px 0px 10px 10px;
    text-align:left;
    float:left;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 79%;
    height: 200px;
}




/*Login*/
#login {
    color: black;
    font-size: 12px;
}

#logError{      /*Compare dinamicamente a errore di inserimento*/
    
}

#contenitore-login{
    margin: 0;
    padding: 40px 10px 10px 0px;
    float: right;
    width:19%;
}

#button_admin{
    float: right;
    padding-right: 10px;
    color: white;
    
    border: solid 1px #a30025;
    background: #b40029;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#d5000d), to(#8c001f));
    background: -webkit-linear-gradient(top,  #d5000d,  #8c001f);
    background: -moz-linear-gradient(top,  #d5000d,  #8c001f);
    background: -ms-linear-gradient(top,  #d5000d,  #8c001f);
    background: -o-linear-gradient(top,  #d5000d,  #8c001f);
    
}

#accedi{
    margin-top: 10px;
    margin-left: 38%;
}



/* BreadCrumbs Part*/
#breadcrumbs{
    background-color:#b0fcb0;
    clear: both;
}

#rifnav {
    width: 29%;
    float: left;
    color: black;
    margin-top: 20px;
}

#ricerca{
    width:15em;
    height:2em;
}

#conferma{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #a30025;
    background: #b40029;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#d5000d), to(#8c001f));
    background: -webkit-linear-gradient(top,  #d5000d,  #8c001f);
    background: -moz-linear-gradient(top,  #d5000d,  #8c001f);
    background: -ms-linear-gradient(top,  #d5000d,  #8c001f);
    background: -o-linear-gradient(top,  #d5000d,  #8c001f);
    
    /*
     width:8em;
     height:2em;
     font-size:0.9em;
     font-weight:bold;
     background-color:lime;
     */
}

#conferma:hover{
    position: 0 -50px;
}

.ricerca{
    position:relative;
    left:10%;
}


/*Menu*/
#contenitore-menu {
    width: 531px;
    margin: 0 auto;
}

.vnav{
    background-color: #ffcdcc;
    font-weight: bold;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #99ff9b;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    color: white;
    background-color: #111;
}

/*Contenuto-Body-Centro*/

#content{
    background-color:#b0fcb0;
    margin:0 auto;
    padding: 1em;
    width:70%;
    color: black;}

.informazioni{
    display:block;
}

.center {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#immagine{
    background-image:url("../img/prato.jpg");
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:27em;
}


.titolo_contattaci{
    color: #fff3f6;
    padding: 20px;
    
    border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px; /* firefox */
    -webkit-border-radius: 0px 0px 20px 20px; /* safari, chrome */
    
    background: #b40029;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3d48), to(#8c001f));
    background: -webkit-linear-gradient(top,  #ff3d48,  #8c001f);
    background: -moz-linear-gradient(top,  #ff3d48,  #8c001f);
    background: -ms-linear-gradient(top,  #ff3d48,  #8c001f);
    background: -o-linear-gradient(top,  #ff3d48,  #8c001f);
    
}

.info{
    
}


/*Parte per la form di contattaci*/

.body_contattaci{
    padding-left:100px;
    padding-right: 100px;
    border-color : #333333;
    flat: center;
}

form {
    max-width: 100%;
    display: block;
}
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
form ul li {
    margin: 0 0 0.25em 0;
    clear: both;
    display: inline-block;
    width: 100%;
}
form ul li:last-child {
    margin: 0;
}

form ul li p.right {
    float: right;
}
form ul li .divider {
    margin: 0.5em 0 0.5em 0;
    border: 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: #4f6fad;
    background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
form ul li .req {
    color: #ee9cb4;
}
form label {
    display: block;
    margin: 0 0 0.5em 0;
    color: #4f6fad;
    font-size: 1em;
}
form input {
    margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: 1em;
}
form textarea {
    border: 1px solid #ccc;
    padding: 6px 10px;
    width: 80%;
    color: #555;
}
form small {
    color: #4f6fad;
    margin: 0 0 0 0.5em;
}

.info {
    display: block;
    margin: 0 0 0.5em 0;
    color: #4f6fad;
}

#frameMappa {
    width: 100%;
    height: 20em;
}

.print {
    display: none;
}

.errorSuggestion{
    color: blue;
    width: 50%;
    float: right;
}



/* Footer */


.footer{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background-image:url(../img/grass_footer.png);
    background-size:100%;
    background-position-y: 50%;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 25px 20px;
    margin-top: 20px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}


.footer .footer-left{
    width: 40%;
}


.footer h3{
    text-align:center;
    background-image: url(../img/logo_mini.png);
    margin: 0;
    
    width: 200px;
    height: 50px;
}

.footer h3 span {
    display:block;
    height:0;
    overflow:hidden;
}

.footer .footer-nome-azienda{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center{
    width: 35%;
}

.footer .footer-center i{
    color: #e6e6e6;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-mail{
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}


.footer .footer-right{
    width: 20%;
}

.footer .footer-right{
    color: black;
}

.footer .footer-nome-azienda{
    line-height: 20px;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-info span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

#testo-footer{
    color: #333333;
}

@media screen and (max-width:768px){
    
    .ricerca{position:static;}
    
    #menu{height:2100px;}
    #chisiamo{margin-left:0em;}
    #real{margin-left:0em;}
    #vend{margin-left:0em;}
    #nol{margin-left:0em;}
    #serv{margin-left:0em;}
    #cont{margin-left:0em;}
    #formricerca{position:static; float:none;}
    #formadmin{position:static; float:none;}
    #log{width:15em; height:2em;}
    #barra{height:5.3em;}
    
    
    .footer{
        font: bold 14px sans-serif;
    }
    
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .footer .footer-center i{
        margin-left: 0;
    }
}
